*{
    margin: 0;
    padding: 0;
    user-select: none;
    line-height: 25px;
    box-sizing: border-box;
}
.Container{
    border: 3px solid black;
    margin: 0px auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-color: #554355;
    color: white;
    padding: 40px 90px;
    align-items: flex-end;
}
.sub-container{
    display: flex;
    width: 100%;
    height: 60%;
    padding: 35px;
    background-color: #0c0c0c;
    color: rgb(255, 255, 255);
    gap: 200px;   
}
.heading-1 img{
    width: 70px;
}
.img-1{
width: 200px;
}
.list-1{
    display: flex;  
    width: 190px;
}

ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.heading-3{
    width: 45   0px;
}
.list3 li{
    list-style: none;
    padding: 0;
    margin-bottom: 4px;
}