.container{
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
}
.girditem{
    padding: 30% 10%;
}
.girditem button{
    border: none;
    background-color: #141414;
    color: white;
    width: 100px;
    padding: 5px 
}
.image img{ 
    width: 300px;
    height: 450px; 
}
.image{
    background-color: yellow;
    margin: 8px 5px;
}