.box{
    height: 90vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content:center;
    background-image: linear-gradient(to top, blue , #9d9de6);
}
h1{
color: white;
font-size: 40px;
margin: 0;
}
p{
    color: white;
}