.container{
    border: 2px solid #000000;
    padding: 2% 0.5% 2% 0.5%;
    text-align: center;
}

.container h2{
    padding-bottom: 2%;
    text-align: center  ;
}

.timetable{
    display: grid;
    grid-template-rows: 80px repeat(6, 60px);
    grid-template-columns: repeat(8, auto);
    padding: 0.5%;
    background-color: rgb(23, 154, 255);
    border: 1px solid #000000;
    text-align: center;
}

.table{
    display: flex;
    border: 2px dotted black;
    align-items: center;
    justify-content: center;
}

.time{
    background-color: #da2e1f;
        }

.days{
    background-color: #8b00d1;
        }

.lab{
    background-color: #dfdfdf;
        }

.yellow{
    background-color: #ffff24;
    border: none;
        }

.aqua{
    background-color: #42ffff;
    }

.table29, .table49{
    background-color: #00e300;
        }

.table15, .table29, .table43, .table49{
    grid-column: 7/9;

}

.table17, .table31, .table45{
    grid-column: 2/4;

}  