@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');
*{
    font-family: 'Montserrat';
    background-color: #141313;
    color: white;
}

section img{
 float: right;
 width: 300px;
 height: 300px;   
 margin-top: 30px;
}
div{
    width: 900px;
    float: left;
    margin-top: 50px;
    margin-left: 40px;
}
.btn{
    background-color: #2b2bd1;
    padding: 10px;
    border-radius: 10px;
}
.head{
    font-size: 40px;
}
